* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #181818;
    display: flex;
    justify-content: center;
    margin: 50px 246px;
}

.container {
    width: 1087px;
    height: 916px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 44px;
}

.text_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 591px;
    height: 162px;
    gap: 20pxs;
}

.heading {
    width: 173px;
    height: 62px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.subheading {
    width: 571px;
    height: 60px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;

}

.image_section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 33px;
    width: 999px;
    height: 285px;
}

.image_section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1087px;
    height: 285px;
}

img {
    border-radius: 12px;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    width: 159px;
    height: 52px;
    border: 1px solid #FFFFFF;
}

.button>button {
    background-color: #181818;
    color: #FFFFFF;
    border: none;
    width: 79px;
    height: 25px;
    font-family: 'Graphik';
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;

}